.cardContentHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--clr-lavender);
  border-radius: 16px;
  min-height: 68px;
  padding: 12px;
}

.cardIcon {
  width: 44px;
  height: 44px;
  background-color: var(--clr-faintpurple);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent {
  line-height: 150%;
}