.flag {
  border-radius: 50%;
  object-fit: cover;
}

.countrySelect :global(.ant-select-selection-item) .countryCode,
.countrySelect :global(.ant-select-selection-item) .countryName {
  display: none;
}

.phoneInput {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  height: 54px;
  border-bottom: 1px solid var(--clr-lavender);
  transition: 0.3s all;
}

.phoneInput:hover,
.phoneInput:focus {
  border-color: var(--accent-primary);
}

.isDisabled .phoneInput:hover,
.isDisabled .phoneInput:focus {
  border-color: var(--clr-lavender);
}

.phoneInput :global .ant-input-number-affix-wrapper {
  background-color: var(--clr-faintpurple);
  border: none;
  border-radius: 0 8px 0 0;
}

.isDisabled .phoneInput :global .ant-input-number-group .ant-input-number-group-addon,
.phoneInput :global .ant-input-number-affix-wrapper-disabled,
.phoneInput :global .ant-input-number-affix-wrapper[disabled] {
  background-color: #fcfaff;
}

.phoneInput :global .ant-input-number-affix-wrapper:hover,
.phoneInput :global .ant-input-number-affix-wrapper:focus,
.phoneInput :global .ant-input-number-affix-wrapper:focus,
.phoneInput :global .ant-input-number-affix-wrapper-focused {
  box-shadow: none;
}

.phoneInput :global .ant-input-number-affix-wrapper .ant-input-number-prefix {
  color: var(--clr-darkgray);
  line-height: 1;
  font-weight: 500;
  padding: 10px 0 10px 0;
  align-items: center;
}

.isDisabled .phoneInput :global .ant-input-number-affix-wrapper .ant-input-number-prefix {
  color: var(--clr-lightgray);
}

.hasLabel .phoneInput :global .ant-input-number-affix-wrapper .ant-input-number-prefix {
  padding: 10px 0 12px 0;
  align-items: flex-end;
}

.phoneInput :global .ant-input-number .ant-input-number-input {
  height: 54px;
  font-weight: 500;
  padding: 10px 14px 10px 0;
}

.hasLabel .phoneInput :global .ant-input-number .ant-input-number-input {
  padding: 10px 14px 10px 0;
  height: auto;
  line-height: 1;
}

.phoneInput :global .ant-input-number .ant-input-number-input::placeholder {
  color: var(--clr-gray);
}

.phoneInput :global .ant-input-number-handler-wrap {
  display: none;
}

.phoneInput :global .ant-input-number-group .ant-input-number-group-addon {
  position: relative;
  background-color: var(--clr-faintpurple);
  padding: 10px 14px;
  border-radius: 8px 0 0 0;
  border: none;
}

.phoneInput :global .ant-input-number-group .ant-input-number-group-addon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  right: 0;
  width: 1px;
  background-color: var(--clr-lavender);
}

.countrySelectPopup :global .ant-select-item .ant-image {
  display: flex;
}

.countrySelectPopup :global .ant-select-item-option-content {
  display: flex;
  align-items: center;
}

.label {
  display: none;
  position: absolute;
  z-index: 2;
  left: 85px;
  color: var(--clr-darkgray);
  font-weight: 500;
  top: 10px;
  font-size: 12px;
  pointer-events: none;
}

.hasLabel .label {
  display: block;
}

.label {
  padding-left: 10px;
}